.table {
  width: 100%;
  border: 1px solid #ddd;
  text-align: left;
  font-weight: 400;
  font-size: medium;

  > tr:nth-child(even) {
    background-color: #e7e9eb;
  }

  th {
    width: 10%;
  }
}

.btn {
  :hover {
    cursor: pointer;
  }
}

.responsive-container {
  max-width: 70%;
  margin: auto;
}
@media only screen and (max-width: 768px) {
  .responsive-container {
    max-width: 100%;
  }
}
